<div class="header pb-8 pt-8 pt-md-8">
  <div class="container-fluid">

  </div>
</div>

<div class="container margin-nav">

  <div class="container-fluid" style="margin: 10px 0px">
    <div class="sub-header">
      <div class="row">
        <div class="col-sm-7">
          <h1>Welcome {{name}} <span class="badge badge-secondary cursor" style="font-size: small;">{{role}}</span></h1>  
          <span>Home / Dashboard </span>
        </div>
      </div>
    </div>
  </div>
 
  <div class="container-fluid" style="margin: 10px 0px;">
    <!-- Card stats -->
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">COLLECTED PAYMENT</h5>
                <span class="h2 font-weight-bold mb-0">₹ 1000</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                  <i class="fas fa-chart-bar"></i>
                </div>
              </div>
            </div>
            <!-- <p class="mt-3 mb-0 text-muted text-sm">
              <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
              <span class="text-nowrap">Since last month</span>
            </p> -->
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">ADDED TO PLAYER</h5>
                <span class="h2 font-weight-bold mb-0">5</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                  <i class="fas fa-chart-pie"></i>
                </div>
              </div>
            </div>
            <!-- <p class="mt-3 mb-0 text-muted text-sm">
              <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
              <span class="text-nowrap">Since last week</span>
            </p> -->
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">NET PROFIT</h5>
                <span class="h2 font-weight-bold mb-0">₹ 2000</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                  <i class="fas fa-percent"></i>
                </div>
              </div>
            </div>
            <!-- <p class="mt-3 mb-0 text-muted text-sm">
              <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
              <span class="text-nowrap">Since yesterday</span>
            </p> -->
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">TOTAL PLAYERS</h5>
                <span class="h2 font-weight-bold mb-0">50</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                  <i class="fas fa-users"></i>
                </div>
              </div>
            </div>
            <!-- <p class="mt-3 mb-0 text-muted text-sm">
              <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
              <span class="text-nowrap">Since last month</span>
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="margin: 10px 0px;">
    <!-- Table -->
      <div class="row">
      <div class="col">
        <div class="card shadow">
          <h4 style="margin: 10px">Latest Players</h4>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">Round</th>
                  <th scope="col">Capacity</th>
                  <th scope="col">Game Type</th>
                  <th scope="col">Total Amount</th>
                  <th scope="col">Commission</th>
                  <th scope="col">Player Name</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>2</td>
                  <td>6</td>
                  <td>80 Pool</td>
                  <td>100</td>
                  <td>20%</td>
                  <td>Barath</td>
                  <td>2023-01-09</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>4</td>
                  <td>2</td>
                  <td>Deal Rummy</td>
                  <td>50</td>
                  <td>10%</td>
                  <td>Lavanya</td>
                  <td>2023-01-09</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>6</td>
                  <td>2</td>
                  <td>80 Pool</td>
                  <td>100</td>
                  <td>20%</td>
                  <td>Ilayarani</td>
                  <td>2023-01-09</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="margin: 10px 0px;">
    <!-- Table -->
      <div class="row">
      <div class="col">
        <div class="card shadow">
          <h4 style="margin: 10px">Latest Players</h4>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">S.No</th>
                  <th scope="col">User Name</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Mobile No.</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>7S53739</td>
                  <td>Barath</td>
                  <td>8745874257</td>
                  <td>barath@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>7S53740</td>
                  <td>lavanya</td>
                  <td>974561230</td>
                  <td>lavanya@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>7S53736</td>
                  <td>Ilayarani</td>
                  <td>7895469214</td>
                  <td>ilayarani@gamil.com</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>7S53701</td>
                  <td>testing</td>
                  <td>9874561234</td>
                  <td>test@gamil.com</td>
                </tr>
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid" style="margin: 10px 0px;">
    <div class="row">
      <div class="col-xl-8 mb-5 mb-xl-0">
        <div class="card bg-gradient-default shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                <h2 class="text-white mb-0">Rummy Revenue</h2>
              </div>
              <div class="col">
                <ul class="nav nav-pills justify-content-end">
                  <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[0];updateOptions()">
                    <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked===true}" data-toggle="tab" (click)="clicked=true;clicked1=false">
                      <span class="d-none d-md-block">Month</span>
                      <span class="d-md-none">M</span>
                    </a>
                  </li>
                  <li class="nav-item" data-toggle="chart" data-target="#chart-sales"  (click)="data=datasets[1];updateOptions()">
                    <a href="javascript:void(0)" class="nav-link py-2 px-3" [ngClass]="{'active':clicked1===true}" data-toggle="tab" (click)="clicked=false;clicked1=true">
                      <span class="d-none d-md-block">Week</span>
                      <span class="d-md-none">W</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <!-- Chart wrapper -->
              <canvas id="chart-sales" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                <h2 class="mb-0">Total Users</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div class="chart">
              <canvas id="chart-orders" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid" style="margin: 10px 0px;">
    <div class="row">
      <div class="col">
        <!-- Table -->
          <div class="row">
          <div class="col">
            <div class="card shadow">
              <h4 style="margin: 10px">Recent Request</h4>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">S.No</th>
                      <th scope="col">User Name</th>
                      <th scope="col">Subject</th>
                      <th scope="col">Message</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>test</td>
                      <td>test</td>
                      <td>hii</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>test</td>
                      <td>test</td>
                      <td>Hello</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>test</td>
                      <td>test</td>
                      <td>welcome</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row" style="margin: 20px">
                <div class="col">
                  <button type="button" class="btn btn-sm btn-primary">
                    More Details
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="margin: 10px 0px;">
    <div class="row">
      <div class="col">
        <!-- Table -->
          <div class="row">
          <div class="col">
            <div class="card shadow">
              <h4 style="margin: 10px">Latest Transactions</h4>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">S.No</th>
                      <th scope="col">Id</th>
                      <th scope="col">User Name</th>
                      <th scope="col">Order Id</th>
                      <th scope="col">Transaction Id</th>
                      <th scope="col">Payment Method</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>1</td>
                      <td>7S53701</td>
                      <td>587</td>
                      <td>154541</td>
                      <td>GPay</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>1</td>
                      <td>7S53739</td>
                      <td>457</td>
                      <td>545787</td>
                      <td>PayPal</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>1</td>
                      <td>7S53723</td>
                      <td>8745</td>
                      <td>4546879</td>
                      <td>Paytm</td>
                    </tr>
                  </tbody>
                </table>
              </div>
  
              <div class="row" style="margin: 20px">
                <div class="col">
                  <button type="button" class="btn btn-sm btn-primary">
                    + fund to player account
                  </button>
                </div>
                <div class="col" style="float: right; text-align: right;">
                  <button type="button" class="btn btn-sm">
                    View All Transaction
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col">  
        <!-- Table -->
          <div class="row">
          <div class="col">
            <div class="card shadow">
              <h4 style="margin: 10px">Recent Withdrawal</h4>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">S.No</th>
                      <th scope="col">User Name</th>
                      <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>7S53701</td>
                      <td>100</td>                     
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>7S53736</td>
                      <td>500</td>                     
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>7S53739</td>
                      <td>80</td>                     
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>7S53740</td>
                      <td>20</td>                     
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>7S53744</td>
                      <td>1000</td>                     
                    </tr>
                  </tbody>
                </table>
              </div>
              <div style="text-align: center; margin: 20px;">
                <p style="color: blue;">View All Withdrawals</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>

















