<div class="header pb-8 pt-8 pt-md-8">
    <div class="container-fluid">
  
    </div>
</div>
  
<!-- Page content -->
<div class="container margin-nav">

    <div class="sub-header">
        <div class="row">
          <div class="col-sm-12">
            <h1>Welcome {{name}} <span class="badge badge-secondary cursor" style="font-size: small;">{{role}}</span></h1>  
            <span>Dashboard / Games / Bonus</span>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow" style="padding: 10px;">
                <form style="padding: 20px;"> 

                    <h3>Total Bonus Entry</h3>
    
                    <div class="form-group">
                        <label for="title">Registration Bonus :</label>
                        <input type="text" name="title" formControlName="title" class="form-control" value="1000"> 
                    </div>
    
                    <div class="form-group">
                        <label for="title">Reference Bonus :</label>
                        <input type="text" name="price" formControlName="price" class="form-control" value="1200">    
                    </div>
    
                    <div class="form-group">
                        <label for="title">Real Chips :</label>
                        <input type="text" name="price" formControlName="price" class="form-control" value="50"> 
                    </div>

                    <div class="form-group">
                        <label for="title">Silver Club Bonus :</label>
                        <input type="text" name="title" formControlName="title" class="form-control" value="1000"> 
                    </div>
    
                    <div class="form-group">
                        <label for="title">Gold Club Bonus :</label>
                        <input type="text" name="price" formControlName="price" class="form-control" value="1200">    
                    </div>
    
                    <div class="form-group">
                        <label for="title">Platinum Club Bonus :</label>
                        <input type="text" name="price" formControlName="price" class="form-control" value="50"> 
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-4">Submit</button>
                    </div>
                
                </form>
            </div>
        </div>
        <div class="col">
            <div class="card shadow" style="padding: 10px;">
                <form style="padding: 20px;"> 

                    <h3>Converting Into Real Chips <small>(Players Spending Real Chips)</small> </h3>
    
                    <div class="form-group">
                        <label for="title">Registration Bonus :</label>
                        <input type="text" name="title" formControlName="title" class="form-control" value="1000"> 
                    </div>
    
                    <div class="form-group">
                        <label for="title">Reference Bonus :</label>
                        <input type="text" name="price" formControlName="price" class="form-control" value="1200">    
                    </div>
    
                    <div class="form-group">
                        <label for="title">Silver Club Bonus :</label>
                        <input type="text" name="title" formControlName="title" class="form-control" value="1000"> 
                    </div>
    
                    <div class="form-group">
                        <label for="title">Gold Club Bonus :</label>
                        <input type="text" name="price" formControlName="price" class="form-control" value="1200">    
                    </div>
    
                    <div class="form-group">
                        <label for="title">Platinum Club Bonus :</label>
                        <input type="text" name="price" formControlName="price" class="form-control" value="50"> 
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-4">Submit</button>
                    </div>
                
                </form>
            </div>
        </div>
        <div class="col">
            <div class="card shadow" style="padding: 10px;">
                <form style="padding: 20px;"> 

                    <h3>Real chips will get in players account</h3>
    
                    <div class="form-group">
                        <label for="title">Registration Bonus :</label>
                        <input type="text" name="title" formControlName="title" class="form-control" value="1000"> 
                    </div>
    
                    <div class="form-group">
                        <label for="title">Reference Bonus :</label>
                        <input type="text" name="price" formControlName="price" class="form-control" value="1200">    
                    </div>

                    <div class="form-group">
                        <label for="title">Silver Club Bonus :</label>
                        <input type="text" name="title" formControlName="title" class="form-control" value="1000"> 
                    </div>
    
                    <div class="form-group">
                        <label for="title">Gold Club Bonus :</label>
                        <input type="text" name="price" formControlName="price" class="form-control" value="1200">    
                    </div>
    
                    <div class="form-group">
                        <label for="title">Platinum Club Bonus :</label>
                        <input type="text" name="price" formControlName="price" class="form-control" value="50"> 
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-4">Submit</button>
                    </div>
                
                </form>
            </div>
        </div>
    </div>

</div>

