<div class="header pb-8 pt-8 pt-md-8">
    <div class="container-fluid">
  
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container margin-nav">

    <div class="sub-header">
      <div class="row">
        <div class="col-sm-7">
          <h1>Welcome {{name}} <span class="badge badge-secondary cursor" style="font-size: small;">{{role}}</span></h1>  
          <span>Dashboard / Website / News</span>
        </div>
        <div class="col-sm-5" *ngIf="checkScope('add_news_list') == true">
          <div class="add-btn-contain">
            <button type="button" class="add-btn" (click)="addData()">
              Create News
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <div class="card shadow">
  
          <div class="row">
            <div class="col">
              <div class="card-sub-header border-0">
                <label for="per-page">Show: </label>
                <select id="per-page" (change)="onLimitChange($event.target.value)" > 
                  <option *ngFor="let option of pageLimitOptions" [value]="option.value" [selected]="option.value == currentPageLimit">
                    {{ option.value }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <div class="card-sub-header border-0 left">
                <label for="search">Search: </label>
                <input type="text" placeholder="Search...." class="search-input" (keyup)="updateFilter($event)"/>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col">
              <ngx-datatable #table class="material" [limit]="10" [columnMode]="'force'" [headerHeight]="65" [footerHeight]="50" [rowHeight]="'auto'" [rows]="getData" >
  
                <ngx-datatable-column [draggable]="false" [resizeable]="false" name="S.No" [width]="'auto'">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                   {{rowIndex+1}}
                  </ng-template>
                </ngx-datatable-column>
            
                <ngx-datatable-column [draggable]="false" [resizeable]="false" name="Title" prop="title" [width]="'auto'">
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <div class="fixlen" title="{{value}}">  {{value}} </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [draggable]="false" [resizeable]="false" name="Image" prop="image" [width]="'auto'">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                      <div class="fixlen"><img [src]="sanitizer.bypassSecurityTrustUrl(value)" width="100%" height="100%" alt="Image"></div>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [draggable]="false" *ngIf="checkScope('status_news') == true" [resizeable]="false" name="Status" prop="status" [width]="'auto'">
                  <ng-template  ngx-datatable-cell-template let-value="value" let-row="row">
                    <span class="badge badge-danger cursor" *ngIf="value==0" (click)="changeActive(row)">InActive</span>
                    <span class="badge badge-success cursor" *ngIf="value==1" (click)="changeActive(row)">Active</span>
                  </ng-template>
                </ngx-datatable-column>
                  
                <ngx-datatable-column [draggable]="false" [resizeable]="false" name="Sub Description" prop="sub_description" [width]="'auto'">
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <div class="fixlen" title="{{value}}">  {{value}} </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [draggable]="false" [resizeable]="false" name="Date" prop="created_at" [width]="'auto'">
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <div class="fixlen" title="{{value}}">  {{value}} </div>
                  </ng-template>
                </ngx-datatable-column>
   
                <ngx-datatable-column [sortable]="false" [draggable]="false" [resizeable]="false" name="Action" [width]="'auto'">
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <ng-template #edit>Edit</ng-template>
                    <a class="btn btn-primary btn-icon-only" *ngIf="checkScope('edit_news_list') == true" [ngbTooltip]="edit" placement="bottom" (click)="editData(row.id)">
                      <i class="fa fa-edit"></i>
                    </a>
                    <ng-template #delete>Delete</ng-template>
                    <a class="btn btn-danger btn-icon-only" *ngIf="checkScope('delete_news_list') == true" [ngbTooltip]="delete" placement="bottom" (click)="deleteData(row.id)">
                      <i class="fas fa-trash"></i>
                    </a>
                  </ng-template>
                </ngx-datatable-column>
          
                <div class="card-footer py-4">                
                  <ngx-datatable-footer>
                    <ng-template
                      let-rowCount="rowCount"
                      let-pageSize="pageSize"
                      let-selectedCount="selectedCount"
                      let-curPage="curPage"
                      let-offset="offset"
                      ngx-datatable-footer-template>
  
                      <span>&nbsp; Total : {{rowCount}}</span>
  
                      <datatable-pager
                        [pagerLeftArrowIcon]="'datatable-icon-left'"
                        [pagerRightArrowIcon]="'datatable-icon-right'"
                        [pagerPreviousIcon]="'datatable-icon-prev'"
                        [pagerNextIcon]="'datatable-icon-skip'"
                        [page]="curPage"
                        [size]="pageSize"
                        [count]="rowCount"
                        [hidden]="!((rowCount / pageSize) > 1)"
                        (change)="table.onFooterPage($event)">
                      </datatable-pager>
                         
                    </ng-template>
                  </ngx-datatable-footer>
                </div>   
                         
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>