.add_button{
    margin: 10px;
    float:right;
}

.ngx-datatable.material {
    background: none !important;
    box-shadow: none !important;
} 

.datatable-header {
    border-bottom: none !important;
    color: #8898aa !important;
    background-color: #f6f9fc !important;
    border-color: #e9ecef !important;
}