<div class="header pb-8 pt-8 pt-md-8">
  <div class="container-fluid">

  </div>
</div>
  
<!-- Page content -->
<div class="container margin-nav">

  <div class="sub-header">
    <div class="row">
      <div class="col-sm-7">
        <h1>Welcome {{name}} <span class="badge badge-secondary cursor" style="font-size: small;">{{role}}</span></h1>  
        <span>Dashboard / Game Table / Cash Rooms </span>
      </div>
      <div class="col-sm-5">
        <div class="add-btn-contain">
          <button type="button" class="add-btn ml-2" (click)="privateTable()">
            Private Club
          </button>
        </div>
        <div class="add-btn-contain" *ngIf="checkScope('add_cash_table') == true">
          <button type="button" class="add-btn" (click)="addData()">
            Create Table
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card shadow">

        <div class="row">
          <div class="col-sm-12">
            <div class="card-sub-btn">
              <button type="button" *ngIf="checkScope('get_cash_table') == true" class="add-btn add-btn-active" routerLinkActive="active" [routerLink]="['/real-money-table']">
                Cash
              </button>
              <button type="button" *ngIf="checkScope('get_free_table') == true" class="add-btn" routerLinkActive="active" [routerLink]="['/practice-table']">
                Practice
              </button>
              <button type="button" *ngIf="checkScope('get_tourney') == true" class="add-btn" routerLinkActive="active" [routerLink]="['/tournaments']">
                Tourney
              </button>
            </div>
          </div>
        </div>
    
        <!-- <div class="container-fluid"> -->
          <div class="row">
            <div class="col-sm-12">
              <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-sm-2">
                      <select name="game_type" formControlName="game_type" class="form-control">
                          <option [ngValue]="''" selected>-- Game Types --</option>
                          <option *ngFor="let gameTypes of gameTypesData; let i = index" [ngValue]="gameTypes.id">{{gameTypes.name}}</option>
                      </select> 
                  </div> 
                  <div class="col-sm-2">
                      <select name="sitting_capacity" formControlName="sitting_capacity" class="form-control">
                          <option [ngValue]="''" selected>-- Player's --</option>
                          <option [ngValue]="2">2 Player</option>
                          <option [ngValue]="6">6 Player</option>
                          <option [ngValue]="8">8 Player</option>
                      </select> 
                  </div> 
                  <div class="col-sm-2">
                      <select name="bet_value" formControlName="bet_value" class="form-control">
                          <option [ngValue]="''" selected>-- Bet Value --</option>
                          <option [ngValue]="1">Low (1 - 100 Value)</option>
                          <option [ngValue]="2">Medium (101 - 1000 Value)</option>
                          <option [ngValue]="3">High (1000 - More Value)</option>
                      </select> 
                  </div> 
                  <div class="col-sm-2">
                    <select name="joker_type" formControlName="joker_type" class="form-control">
                        <option [ngValue]="''" selected>-- Joker Type --</option>
                        <option [ngValue]="'joker'">Joker</option>
                        <option [ngValue]="'nojoker'">No Joker</option>
                    </select> 
                  </div>
                  <div class="col-sm-1">
                    <select name="deck" formControlName="deck" class="form-control">
                        <option [ngValue]="''" selected>-- Deck --</option>
                        <option [ngValue]="1">1 Deck</option>
                        <option [ngValue]="2">2 Deck</option>
                        <option [ngValue]="2">3 Deck</option>
                    </select> 
                  </div>
                  <div class="col-sm-2">
                      <select name="table_status" formControlName="table_status" class="form-control">
                          <option [ngValue]="''" selected>-- Action --</option>
                          <option [ngValue]="0">Stop</option>
                          <option [ngValue]="1">Live</option>
                      </select> 
                  </div> 
                  <div class="col-sm-1">
                    <button type="submit" class="btn btn-primary" style="padding: 8px 15px !important">Submit</button>  
                  </div>
                </div> 
              </form>
            </div>
          </div>
        <!-- </div> -->

        <div class="row">
          <div class="col">
            <div class="card-sub-header border-0">
              <label for="per-page">Show: </label>
              <select id="per-page" (change)="onLimitChange($event.target.value)" > 
                <option *ngFor="let option of pageLimitOptions" [value]="option.value" [selected]="option.value == currentPageLimit">
                  {{ option.value }}
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="card-sub-header border-0 left">
              <label for="search">Search: </label>
              <input type="text" placeholder="Search Table Name...." class="search-input" (keyup)="updateFilter($event)"/>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col">
              <ngx-datatable
                  class="material"
                  [rows]="getData"
          
                  [columnMode]="'force'"
                  [headerHeight]="65"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [externalPaging]="true"
                  [externalSorting]="true"
                  [count]="page.count"
                  [offset]="page.offset"
                  [limit]="page.limit"
                  [sortType]="'single'"
                  (page)="pageCallback($event)"
              
              >

                  <ngx-datatable-column [sortable]="false"  [draggable]="false" [resizeable]="false" name="Game Type" prop="game_type" [width]="'auto'">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                      <div class="fixlen" title="{{value}}">  {{value}} </div>
                    </ng-template>
                  </ngx-datatable-column>
              
                  <ngx-datatable-column [sortable]="false"  [draggable]="false" [resizeable]="false" name="Players" prop="max_player" [width]="'auto'">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                      <div class="fixlen" title="{{value}}" >  {{value}} </div>
                    </ng-template>
                  </ngx-datatable-column>
          
                  <ngx-datatable-column [sortable]="false"  [draggable]="false" [resizeable]="false" name="Entry Fees" prop="entry_fees" [width]="'auto'">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                      <div class="fixlen" title="{{value}}" >  {{value}} </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [sortable]="false"  [draggable]="false" [resizeable]="false" name="Joker Type" prop="joker_type" [width]="'auto'">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                      <div class="fixlen" title="{{value}}" >  {{value}} </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [sortable]="false"  [draggable]="false" [resizeable]="false" name="Deck" prop="deck" [width]="'auto'">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                      <div class="fixlen" title="{{value}}" >  {{value}} </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [sortable]="false"  *ngIf="checkScope('status_cash_room') == true" [draggable]="false" [resizeable]="false" name="Status" prop="active" [width]="'auto'">
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                      <span class="badge badge-danger cursor" *ngIf="value==0" (click)="changeStatus(row)">InActive</span>
                      <span class="badge badge-success cursor" *ngIf="value==1" (click)="changeStatus(row)">Active</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [sortable]="false" [draggable]="false" [resizeable]="false" name="Action" [width]="'auto'">
                      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <ng-template #edit>Edit</ng-template>
                        <a class="btn btn-primary btn-icon-only" *ngIf="checkScope('edit_cash_table') == true" [ngbTooltip]="edit" placement="bottom" (click)="editData(row)">
                          <i class="fas fa-edit"></i>
                        </a>
                        <ng-template #delete>Delete</ng-template>
                        <a class="btn btn-danger btn-icon-only" *ngIf="checkScope('delete_cash_table') == true" [ngbTooltip]="delete" placement="bottom" (click)="deleteData(row.id)">
                          <i class="fas fa-trash"></i>
                        </a>
                      </ng-template>
                  </ngx-datatable-column>
         
              </ngx-datatable>
    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>